In [51]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
import dhlab.graph_networkx_louvain as gnl
import dhlab.token_map as tm
from collections import Counter
import qgrid

In [41]:
import pandas as pd

def alle_korpusnavn(korpus, ratio=0.3, cutoff=0):
    urner = nb.pure_urn(korpus)
    alle_navn = tm.combine_names(tm.corpus_names(urner, ratio = ratio, cutoff = cutoff))
    return alle_navn

def tell_navn(korpus, token_map):
    res = dict()
    for urn in korpus['urn']:
        res[urn] = tm.count_name_strings(str(urn), token_map).to_dict()[0]
    return pd.DataFrame(pd.DataFrame(res).sum(axis=1).sort_values(ascending=False))

In [2]:
fargekoder = """Guro-bøkene: R251/G213/B196 -- #FBD5C4
Kaos-bøkene: 71/173/130 -- #47AD82
Ola Aleksander-bøkene: 255/216/97 --#FFD861
Ellen Andrea og småtassene: 127/95/147 -- #7F5F93
Lillebror og Knerten: 58/172/190 -- #3AACBE
Mormor: 232/64/78 -- #E8404E
Aurora og sokrates blå: 47/58/131 – #2F3A83"""

In [34]:
korpus_raw = nb.book_corpus(author="vestly%anne%cath%", limit = 1000)

In [35]:
titles = Counter(dict(Counter(korpus_raw.title.values).most_common()))

In [36]:
urns = []
for title in titles:
    if titles[title]:
        urn = list(korpus_raw[korpus_raw.title == title].sort_values(by='year', ascending = False).urn)[0]
        urns.append(urn)

In [39]:
korpus = nb.frame(nb.metadata(urns), "urn author year title subtitle publisher genre sesam lang trans".split())

In [40]:
korpus

,urn,author,year,title,subtitle,publisher,genre,sesam,lang,trans
0,2014030506112,"Vestly, Anne-Cath.",2009,Lillebror og Knerten,,Gyldendal,novel,48d6e1480434afd5e989e55997e3a847,nob,
1,2011060906088,"Vestly, Anne-Cath.",2003,Mormor og de åtte ungene,,Bokklubbens barn,fiction,bb8988a6b4f207b2e3e62b3292492e69,nob,
2,2008082504007,"Vestly, Anne-Cath.",1999,"Åtte små, to store og en lastebil",,Gyldendal Tiden,fiction,2345802122722a0d28c91dcf58fd82af,nob,
3,2008082001028,"Vestly, Anne-Cath.",1998,Mormor og de åtte ungene i skogen,,Gyldendal Tiden,fiction,5bcd9f2d0fe808148d2044295b54dd25,nob,
4,2008100204035,"Vestly, Anne-Cath.",1999,Ole Aleksander Filibom-bom-bom,,Gyldendal Tiden,fiction,a6f276abd7d925d8be337f1143f312d5,nob,
...,...,...,...,...,...,...,...,...,...,...
69,2008062304037,"Vestly, Anne-Cath.",1992,Ellen Andrea og mormor,,Tiden,fiction,e168e67da38ab9550685b154184cfd22,nob,
70,2014020628003,"Vestly, Anne-Cath.",1996,Hvor er Kvikko,barnekomedie,[Skien barneteater],drama,2387224c1d8c88efcaa72910b89733fa,nob,
71,2007041801040,"Vestly, Anne-Cath.",1961,Mormors promenade,,Tiden,fiction,67fc0de0a620e7328f641bb9d3e3607b,nob,
72,2016090708189,"Vestly, Anne-Cath.",1975,Om trygder og menneske,ein collage,Rikstrygdeverket,notfiction,bfa0c1532e06416b228382ab7a7b28e5,nno,
73,2009012004037,"Vestly, Anne-Cath.",2000,Nesten et helt menneske,lappeteppe 2,Tiden,notfiction,7b33dbdcc28c15990ab44e81fbc52728,nob,

In [49]:
navn = alle_korpusnavn(korpus,ratio=0.2, cutoff=10)

# Single navn fra bøkene

In [70]:
single_navn = list(navn[0].keys())

In [71]:
single_navn[:10]

['Er',
 'Ja',
 'Jeg',
 'Kan',
 'Knerten',
 'Lillebror',
 'Nei',
 'Neida',
 'Neimen',
 'Phillip']

# Navn fra Anne Kristins excelfil

In [55]:
vestlys_verden = pd.read_excel("Vestlys verden.xlsx", header=None )

In [58]:
qgrid.show_grid(vestlys_verden.fillna(''))

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [61]:
a = _58.get_changed_df()

In [66]:
ac_navn = list(set([x for x in list(a[1]) if x != '']))

In [72]:
ac_navn[:10]

['bestemor',
 'Sorenskriveren - Thomas',
 'Rakel',
 'Maren',
 "mamma'n til Nusse",
 'Marie',
 'mor',
 'Nils Sokrates',
 'mormor',
 'Mormors syklubb: Ole Aleksandes bestemor og Henriks tante Olea']

Sjekk hva som er felles:

In [73]:
[x for x in ac_navn if x in single_navn]

['Rakel',
 'Maren',
 'Marie',
 'Konstance',
 'Lillemamma',
 'Johanna',
 'Phillip',
 'Hulda',
 'Knut',
 'Ida',
 'Knerten',
 'Mons',
 'Tullemor',
 'Guro',
 'Ovnsrøret',
 'Mina',
 'Putten',
 'Tilla',
 'Veslestuten',
 'Martin',
 'Henrik',
 'Sokrates',
 'Mads',
 'Magnus',
 'Lillen',
 'Milly',
 'Edvard',
 'Karoline',
 'Lille-Bjørn',
 'Brande',
 'Rundtomkring',
 'Mona',
 'Anne',
 'Lille-Knerten',
 'Puffen',
 'Lars',
 'Ginneken',
 'Aurora',
 'Nusse',
 'Ivar',
 'Marte',
 'Oliver',
 'Lillebror',
 'Anton']